NODE_ENV = 'development'
WEATHER_KEY = 'http://api.openweathermap.org'
TRAFIKLAB_KEY = 'https://www.trafiklab.se/api'
TRAFIKLAB_SITEID_FINDER = 'https://www.trafiklab.se/api/sl-platsuppslag'
GOOGLE_KEY = 'https://developers.google.com/calendar/'