
section.mm-clock
  .column
    time.mm-time
      span.mm-hour 09
      span.mm-clock-divider :
      span.mm-minute 18
    footer
      div.mm-date Söndag, September 17
      div.mm-names Didde Drake
