doctype html
html
  head
    title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js")
  link(href="https://fonts.googleapis.com/css?family=Raleway:800", rel='stylesheet')
  link(rel='stylesheet', href='/styles/default.css')
  link(rel='stylesheet', href='/styles/weather.css')
  link(rel='stylesheet', href='/styles/clock.css')
  body.vignette
    block content
