doctype html
html
  head
    title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href="https://fonts.googleapis.com/css?family=Raleway:800", rel='stylesheet')
  link(rel='stylesheet', href='/styles/default.css')
  link(rel='stylesheet', href='/styles/weather.css')
  body.bg.vignette
    block content
