include mixins/_weatherList

if weatherData.weathers.length > 1
  section.mm-weather
    h1.mm--title Sk채lby
    +weatherList(weatherData)

else
  section.columns.mm-weather
    .column.is-one-third
      h1.mm--h1 Sk채lby
      .columns
        .column
          h2 M책ndag 12.7 C째
          i.mm-weather-icon-broken-cloud.mm-weather-icon
          h3 molnigt